### Small Example of NeotomaOneHotEncoder

In [ ]:
import pandas as pd
import src.article_relevance as ar

/Users/sedv8808/HT-Data/UWisc/article-relevance/venv/lib/python3.11/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [ ]:
#Example DataFrame
data = pd.DataFrame({
    'col1': [1, 2, 3, 4],
    'subject': [['math'], ['math', 'history'], ['history'], ['math']],
    'container-title': [['a'], ['b'], ['a', 'b'], ['a', 'b']],
    'target': [10, 20, 30, 40],
})

data

   col1          subject container-title  target
0     1           [math]             [a]      10
1     2  [math, history]             [b]      20
2     3        [history]          [a, b]      30
3     4           [math]          [a, b]      40

In [ ]:

# Split the data into features and target
X2 = data[['col1', 'subject', 'container-title']]
y = data['target']

In [ ]:

# Create a NeotomaOneHotEncoder
neotoma_encoder = ar.NeotomaOneHotEncoder(min_count=3)

In [ ]:

# Fit and transform the 'subject' and 'container-title' columns
X_encoded = neotoma_encoder.fit_transform(X2[['subject', 'container-title']])

{'subject': ['math'], 'container-title': ['a', 'b']}
['math']
{'subject': ['math'], 'container-title': ['a', 'b']}
['a', 'b']
['a', 'b']

In [ ]:
X_encoded

   math  a  b
0     1  1  0
1     1  0  1
2     0  1  1
3     1  1  1

In [ ]:
data2 = pd.DataFrame({
    'subject': [['math2'], ['geography']],
    'container-title': [['a'], ['b']],
})

In [ ]:
neotoma_encoder.transform(data2[['subject', 'container-title']])

{'subject': ['math'], 'container-title': ['a', 'b']}
['math']
{'subject': ['math'], 'container-title': ['a', 'b']}
['a', 'b']
['a', 'b']

   math  a  b
0     0  1  0
1     0  0  1